name: SOLACE.sys CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"

      - name: Verify Dependencies
        run: go mod verify

      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.9.0

      - name: Run golangci-lint
        run: golangci-lint run --timeout=5m

      - name: Run Test
        run: go test -v -race ./...

      - name: Build Test
        run: go build -v ./...
